{% extends 'base.html' %}
{% load static %}
{% block title %} Courses{% endblock %}

{% block body %}
<section id="best-features" class="text-center">
  <h2 class="mb-5 mt-5 font-weight-bold" style="color:#ff5722;">Teacher's Training</h2>
  <div class="row d-flex justify-content-center mb-4">
    <div class="col-md-8 mb-5">
      <p class="grey-text">Robotics, Coding, and Artificial Intelligence help you understand theoretical learning in real-life applications.</p>
    </div>
  </div>

  <div class="row d-flex justify-content-center mb-3">
    <!-- Phase-I -->
    <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'Images/2.jpg' %}" class="card-img" alt="No image found" height="200px" width="200px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title" style="color:#ff5722;">Phase-I</h4>
            <p class="card-text">Be willing to be a beginner every single morning</p>
            <a href="{% url 'curriculum:mentor_subjects_by_level' 'Phase-I' %}">
              <button class="button-les"><span>Start Training</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Phase-II -->
    <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'Images/3.jpg' %}" class="card-img" alt="No image found" height="200px" width="200px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title" style="color:#ff5722;">Phase-II</h4>
            <p class="card-text">The mind is not a vessel to be filled, but a fire to be ignited</p>
            {% if unlock_level_2 %}
              <a href="{% url 'curriculum:mentor_subjects_by_level' 'Phase-II' %}">
                <button class="button-les"><span>Start Training</span></button>
              </a>
            {% else %}
              <button class="button-les" disabled><span>Locked</span></button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Phase-III -->
    <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'Images/4.jpg' %}" class="card-img" alt="No image found" height="200px" width="200px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title" style="color:#ff5722;">Phase-III</h4>
            <p class="card-text">More grace, more light, more generosity, more compassion, more to shed, more to grow</p>
            {% if unlock_level_3 %}
              <a href="{% url 'curriculum:mentor_subjects_by_level' 'Phase-III' %}">
                <button class="button-les"><span>Start Training</span></button>
              </a>
            {% else %}
              <button class="button-les" disabled><span>Locked</span></button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
