{% extends 'school/base_template.html' %}

{% block page_title %}
    Kreativity Show
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Kreativity Show</h3>
                        </div>
                        <div class="card-body">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Date</th>
                                        <th>Parent's Name</th>
                                        <th>Child Name</th>
                                        <th>Class</th>
                                        <th>Testimonial</th>
                                    </tr>
                                    </thead>
                                    {% for show in kreativityshow  %}
                                    <tr>
                                        <td>{{show.date}}</td>
                                        <td>{{show.parent_name}}</td>
                                        <td>{{show.child_name}}</td>
                                        <td>{{show.grade}}</td>
                                        <td><a href="{{show.testimonial}}"type="button" class="btn btn-primary" target="_blank">Testimonial</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
  {% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}