{% extends 'school/base_template.html' %}

{% block main_content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Student's Performance</h3>
                    </div>
                    <div class="card-body">
                        <h3>Coming Soon</h3>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock main_content %}

{% block js %}

{% endblock js %}
